In [50]:
import h2o
import pandas as pd

In [51]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321. connected.

--------------------------  -------------------------------
H2O cluster uptime:         1 hour 16 mins
H2O cluster timezone:       America/New_York
H2O data parsing timezone:  UTC
H2O cluster version:        3.20.0.8
H2O cluster version age:    22 days
H2O cluster name:           H2O_from_python_ptari_1lflev
H2O cluster total nodes:    1
H2O cluster free memory:    3.393 Gb
H2O cluster total cores:    4
H2O cluster allowed cores:  4
H2O cluster status:         locked, healthy
H2O connection url:         http://localhost:54321
H2O connection proxy:
H2O internal security:      False
H2O API Extensions:         Algos, AutoML, Core V3, Core V4
Python version:             3.6.1 final
--------------------------  -------------------------------

In [52]:
path= 'C:\\Users\\ptari\\Desktop\\INFO 7245\\Assignment_2\\crime\\crime.csv'

In [53]:
df = h2o.import_file(path=path)
df

Parse progress: |█████████████████████████████████████████████████████████| 100%

INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
I182080058,2403,Disorderly Conduct,DISTURBING THE PEACE,E18,495,,2018-10-03 20:13:00,2018,10,Wednesday,20,Part Two,ARLINGTON ST,42.2626,-71.1212,"(42.26260773, -71.12118637)"
I182080053,3201,Property Lost,PROPERTY - LOST,D14,795,,2018-08-30 20:00:00,2018,8,Thursday,20,Part Three,ALLSTON ST,42.3521,-71.1353,"(42.35211146, -71.13531147)"
I182080052,2647,Other,THREATS TO DO BODILY HARM,B2,329,,2018-10-03 19:20:00,2018,10,Wednesday,19,Part Two,DEVON ST,42.3081,-71.0769,"(42.30812619, -71.07692974)"
I182080051,413,Aggravated Assault,ASSAULT - AGGRAVATED - BATTERY,A1,92,,2018-10-03 20:00:00,2018,10,Wednesday,20,Part One,CAMBRIDGE ST,42.3595,-71.0596,"(42.35945371, -71.05964817)"
I182080050,3122,Aircraft,AIRCRAFT INCIDENTS,A7,36,,2018-10-03 20:49:00,2018,10,Wednesday,20,Part Three,PRESCOTT ST,42.3753,-71.0247,"(42.37525782, -71.02466343)"
I182080049,1402,Vandalism,VANDALISM,C11,351,,2018-10-02 20:40:00,2018,10,Tuesday,20,Part Two,DORCHESTER AVE,42.2992,-71.0605,"(42.29919694, -71.06046974)"
I182080048,3803,Motor Vehicle Accident Response,M/V ACCIDENT - PERSONAL INJURY,,nan,,2018-10-03 20:16:00,2018,10,Wednesday,20,Part Three,,42.3207,-71.0568,"(42.32073413, -71.05676415)"
I182080047,3301,Verbal Disputes,VERBAL DISPUTE,B2,603,,2018-10-03 19:32:00,2018,10,Wednesday,19,Part Three,TREMONT ST,42.3338,-71.1038,"(42.33380683, -71.10377843)"
I182080045,802,Simple Assault,ASSAULT SIMPLE - BATTERY,E18,543,,2018-10-03 19:27:51,2018,10,Wednesday,19,Part Two,AVILA RD,42.2561,-71.128,"(42.25614494, -71.12802506)"
I182080044,3410,Towed,TOWED MOTOR VEHICLE,D4,621,,2018-10-03 20:00:00,2018,10,Wednesday,20,Part Three,COMMONWEALTH AVE,42.3489,-71.0894,"(42.34886600, -71.08936284)"

In [45]:
df.shape

(327820, 17)

In [46]:
df.columns

['INCIDENT_NUMBER',
 'OFFENSE_CODE',
 'OFFENSE_CODE_GROUP',
 'OFFENSE_DESCRIPTION',
 'DISTRICT',
 'REPORTING_AREA',
 'SHOOTING',
 'OCCURRED_ON_DATE',
 'YEAR',
 'MONTH',
 'DAY_OF_WEEK',
 'HOUR',
 'UCR_PART',
 'STREET',
 'Lat',
 'Long',
 'Location']

In [47]:
df.isna()

isNA(INCIDENT_NUMBER),isNA(OFFENSE_CODE),isNA(OFFENSE_CODE_GROUP),isNA(OFFENSE_DESCRIPTION),isNA(DISTRICT),isNA(REPORTING_AREA),isNA(SHOOTING),isNA(OCCURRED_ON_DATE),isNA(YEAR),isNA(MONTH),isNA(DAY_OF_WEEK),isNA(HOUR),isNA(UCR_PART),isNA(STREET),isNA(Lat),isNA(Long),isNA(Location)
0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
0,0,0,0,1,1,1,0,0,0,0,0,0,1,0,0,0
0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [54]:
df.describe()
df_back=df

Rows:327820
Cols:17

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
type,enum,int,enum,enum,enum,int,enum,time,int,int,enum,int,enum,enum,real,real,enum
mins,,111.0,,,,0.0,,1434326400000.0,2015.0,1.0,,0.0,,,-1.0,-71.17867378,
mean,,2317.9611707644444,,,,383.23826653633074,,1486711613977.7847,2016.5986761027393,6.672213409798054,,13.11484046122872,,,42.212995057692176,-70.90603030527012,
maxs,,3831.0,,,,962.0,,1538599740000.0,2018.0,12.0,,23.0,,,42.39504158,-1.0,
sigma,,1184.9900730331724,,,,242.00732385223102,,30011192084.516365,1.0097747593327322,3.253984047059661,,6.292714255219991,,,2.1734961433787325,3.515831947971616,
zeros,,0,,,,14,,0,0,0,,15534,,,0,0,
missing,0,0,0,0,1774,20920,326765,0,0,0,0,0,93,10977,20632,20632,0
0,I182080058,2403.0,Disorderly Conduct,DISTURBING THE PEACE,E18,495.0,,2018-10-03 20:13:00,2018.0,10.0,Wednesday,20.0,Part Two,ARLINGTON ST,42.26260773,-71.12118637,"(42.26260773, -71.12118637)"
1,I182080053,3201.0,Property Lost,PROPERTY - LOST,D14,795.0,,2018-08-30 20:00:00,2018.0,8.0,Thursday,20.0,Part Three,ALLSTON ST,42.35211146,-71.13531147,"(42.35211146, -71.13531147)"
2,I182080052,2647.0,Other,THREATS TO DO BODILY HARM,B2,329.0,,2018-10-03 19:20:00,2018.0,10.0,Wednesday,19.0,Part Two,DEVON ST,42.30812619,-71.07692974,"(42.30812619, -71.07692974)"
3,I182080051,413.0,Aggravated Assault,ASSAULT - AGGRAVATED - BATTERY,A1,92.0,,2018-10-03 20:00:00,2018.0,10.0,Wednesday,20.0,Part One,CAMBRIDGE ST,42.35945371,-71.05964817,"(42.35945371, -71.05964817)"
4,I182080050,3122.0,Aircraft,AIRCRAFT INCIDENTS,A7,36.0,,2018-10-03 20:49:00,2018.0,10.0,Wednesday,20.0,Part Three,PRESCOTT ST,42.37525782,-71.02466343,"(42.37525782, -71.02466343)"
5,I182080049,1402.0,Vandalism,VANDALISM,C11,351.0,,2018-10-02 20:40:00,2018.0,10.0,Tuesday,20.0,Part Two,DORCHESTER AVE,42.29919694,-71.06046974,"(42.29919694, -71.06046974)"
6,I182080048,3803.0,Motor Vehicle Accident Response,M/V ACCIDENT - PERSONAL INJURY,,nan,,2018-10-03 20:16:00,2018.0,10.0,Wednesday,20.0,Part Three,,42.32073413,-71.05676415,"(42.32073413, -71.05676415)"
7,I182080047,3301.0,Verbal Disputes,VERBAL DISPUTE,B2,603.0,,2018-10-03 19:32:00,2018.0,10.0,Wednesday,19.0,Part Three,TREMONT ST,42.33380683,-71.10377843,"(42.33380683, -71.10377843)"
8,I182080045,802.0,Simple Assault,ASSAULT SIMPLE - BATTERY,E18,543.0,,2018-10-03 19:27:51,2018.0,10.0,Wednesday,19.0,Part Two,AVILA RD,42.25614494,-71.12802506,"(42.25614494, -71.12802506)"
9,I182080044,3410.0,Towed,TOWED MOTOR VEHICLE,D4,621.0,,2018-10-03 20:00:00,2018.0,10.0,Wednesday,20.0,Part Three,COMMONWEALTH AVE,42.348866,-71.08936284,"(42.34886600, -71.08936284)"

In [55]:
df = df.drop('INCIDENT_NUMBER', 1)
df.tail()

OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
3125,Warrant Arrests,WARRANT ARREST,A1,111,,2015-08-12 12:00:00,2015,8,Wednesday,12,Part Three,BOYLSTON ST,42.3523,-71.0637,"(42.35231190, -71.06370510)"
1848,Drug Violation,DRUGS - POSS CLASS B - INTENT TO MFR DIST DISP,A1,111,,2015-08-12 12:00:00,2015,8,Wednesday,12,Part Two,BOYLSTON ST,42.3523,-71.0637,"(42.35231190, -71.06370510)"
1849,Drug Violation,"DRUGS - POSS CLASS B - COCAINE, ETC.",A1,111,,2015-08-12 12:00:00,2015,8,Wednesday,12,Part Two,BOYLSTON ST,42.3523,-71.0637,"(42.35231190, -71.06370510)"
1864,Drug Violation,DRUGS - POSS CLASS D - INTENT MFR DIST DISP,E13,912,,2018-01-27 14:01:00,2018,1,Saturday,14,Part Two,CENTRE ST,42.3228,-71.101,"(42.32283759, -71.10096723)"
3125,Warrant Arrests,WARRANT ARREST,E13,912,,2018-01-27 14:01:00,2018,1,Saturday,14,Part Three,CENTRE ST,42.3228,-71.101,"(42.32283759, -71.10096723)"
3125,Warrant Arrests,WARRANT ARREST,D4,285,,2016-06-05 17:25:00,2016,6,Sunday,17,Part Three,COVENTRY ST,42.337,-71.0857,"(42.33695098, -71.08574813)"
111,Homicide,"MURDER, NON-NEGLIGIENT MANSLAUGHTER",E18,520,,2015-07-09 13:38:00,2015,7,Thursday,13,Part One,RIVER ST,42.2559,-71.1232,"(42.25592648, -71.12317207)"
3125,Warrant Arrests,WARRANT ARREST,E18,520,,2015-07-09 13:38:00,2015,7,Thursday,13,Part Three,RIVER ST,42.2559,-71.1232,"(42.25592648, -71.12317207)"
3125,Warrant Arrests,WARRANT ARREST,E13,569,,2016-05-31 19:35:00,2016,5,Tuesday,19,Part Three,NEW WASHINGTON ST,42.3023,-71.1116,"(42.30233307, -71.11156487)"
3125,Warrant Arrests,WARRANT ARREST,D4,903,,2015-06-22 00:12:00,2015,6,Monday,0,Part Three,WASHINGTON ST,42.3338,-71.0803,"(42.33383935, -71.08029038)"

############################################################################

In [221]:
pd_df = pd.read_csv("C:/Users/ptari/Desktop/INFO 7245/Assignment_2/crime/crime.csv", encoding='latin-1')

C:\Users\ptari\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [222]:
pd_df = pd_df.drop('INCIDENT_NUMBER', 1)
pd_df.tail()

,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
327815,3125,Warrant Arrests,WARRANT ARREST,D4,285,NaN,2016-06-05 17:25:00,2016,6,Sunday,17,Part Three,COVENTRY ST,42.336951,-71.085748,"(42.33695098, -71.08574813)"
327816,111,Homicide,"MURDER, NON-NEGLIGIENT MANSLAUGHTER",E18,520,NaN,2015-07-09 13:38:00,2015,7,Thursday,13,Part One,RIVER ST,42.255926,-71.123172,"(42.25592648, -71.12317207)"
327817,3125,Warrant Arrests,WARRANT ARREST,E18,520,NaN,2015-07-09 13:38:00,2015,7,Thursday,13,Part Three,RIVER ST,42.255926,-71.123172,"(42.25592648, -71.12317207)"
327818,3125,Warrant Arrests,WARRANT ARREST,E13,569,NaN,2016-05-31 19:35:00,2016,5,Tuesday,19,Part Three,NEW WASHINGTON ST,42.302333,-71.111565,"(42.30233307, -71.11156487)"
327819,3125,Warrant Arrests,WARRANT ARREST,D4,903,NaN,2015-06-22 00:12:00,2015,6,Monday,0,Part Three,WASHINGTON ST,42.333839,-71.080290,"(42.33383935, -71.08029038)"

In [223]:
pd_df['Day'] = 0
pd_df['Night'] = 0

In [224]:
pd_df.isnull().sum()

OFFENSE_CODE                0
OFFENSE_CODE_GROUP          0
OFFENSE_DESCRIPTION         0
DISTRICT                 1774
REPORTING_AREA              0
SHOOTING               326765
OCCURRED_ON_DATE            0
YEAR                        0
MONTH                       0
DAY_OF_WEEK                 0
HOUR                        0
UCR_PART                   93
STREET                  10977
Lat                     20632
Long                    20632
Location                    0
Day                         0
Night                       0
dtype: int64

In [225]:
pd_df['SHOOTING'].fillna(0, inplace = True)

pd_df['SHOOTING'] = pd_df['SHOOTING'].map({
    0: 0,
    'Y':1
})

In [226]:
pd_df.isnull().sum()

OFFENSE_CODE               0
OFFENSE_CODE_GROUP         0
OFFENSE_DESCRIPTION        0
DISTRICT                1774
REPORTING_AREA             0
SHOOTING                   0
OCCURRED_ON_DATE           0
YEAR                       0
MONTH                      0
DAY_OF_WEEK                0
HOUR                       0
UCR_PART                  93
STREET                 10977
Lat                    20632
Long                   20632
Location                   0
Day                        0
Night                      0
dtype: int64

In [227]:
# Day or night for 1st month
pd_df['Day'].loc[(pd_df['MONTH'] == 1) & (pd_df['HOUR'] >= 6) & (pd_df['HOUR'] <= 18)] = 1

# Day or night for 2st month
pd_df['Day'].loc[(pd_df['MONTH'] == 2) & (pd_df['HOUR'] >= 6) & (pd_df['HOUR'] <= 19)] = 1

# for 3st month
pd_df['Day'].loc[(pd_df['MONTH'] == 3) & (pd_df['HOUR'] >= 6) & (pd_df['HOUR'] <= 20)] = 1

# Day or night for 4st month
pd_df['Day'].loc[(pd_df['MONTH'] == 4) & (pd_df['HOUR'] >= 5) & (pd_df['HOUR'] <= 20)] = 1

# Day or night for 5st month
pd_df['Day'].loc[(pd_df['MONTH'] == 5) & (pd_df['HOUR'] >= 5) & (pd_df['HOUR'] <= 21)] = 1

# Day or night for 6st month
pd_df['Day'].loc[(pd_df['MONTH'] == 6) & (pd_df['HOUR'] >= 4) & (pd_df['HOUR'] <= 21)] = 1

# Day or night for 7st month
pd_df['Day'].loc[(pd_df['MONTH'] == 7) & (pd_df['HOUR'] >= 5) & (pd_df['HOUR'] <= 21)] = 1

# Day or night for 8st month
pd_df['Day'].loc[(pd_df['MONTH'] == 8) & (pd_df['HOUR'] >= 5) & (pd_df['HOUR'] <= 21)] = 1

# Day or night for 9st month
pd_df['Day'].loc[(pd_df['MONTH'] == 9) & (pd_df['HOUR'] >= 6) & (pd_df['HOUR'] <= 20)] = 1

# Day or night for 10st month
pd_df['Day'].loc[(pd_df['MONTH'] == 10) & (pd_df['HOUR'] >= 6) & (pd_df['HOUR'] <= 19)] = 1

# Day or night for 11st month
pd_df['Day'].loc[(pd_df['MONTH'] == 11) & (pd_df['HOUR'] >= 6) & (pd_df['HOUR'] <= 17)] = 1

# Day or night for 12st month
pd_df['Day'].loc[(pd_df['MONTH'] == 12) & (pd_df['HOUR'] >= 7) & (pd_df['HOUR'] <= 17)] = 1

C:\Users\ptari\Anaconda3\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [228]:
pd_df['Night'].loc[pd_df['Day']==0]=1

C:\Users\ptari\Anaconda3\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [229]:
pd_df.tail()

,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location,Day,Night
327815,3125,Warrant Arrests,WARRANT ARREST,D4,285,0,2016-06-05 17:25:00,2016,6,Sunday,17,Part Three,COVENTRY ST,42.336951,-71.085748,"(42.33695098, -71.08574813)",1,0
327816,111,Homicide,"MURDER, NON-NEGLIGIENT MANSLAUGHTER",E18,520,0,2015-07-09 13:38:00,2015,7,Thursday,13,Part One,RIVER ST,42.255926,-71.123172,"(42.25592648, -71.12317207)",1,0
327817,3125,Warrant Arrests,WARRANT ARREST,E18,520,0,2015-07-09 13:38:00,2015,7,Thursday,13,Part Three,RIVER ST,42.255926,-71.123172,"(42.25592648, -71.12317207)",1,0
327818,3125,Warrant Arrests,WARRANT ARREST,E13,569,0,2016-05-31 19:35:00,2016,5,Tuesday,19,Part Three,NEW WASHINGTON ST,42.302333,-71.111565,"(42.30233307, -71.11156487)",1,0
327819,3125,Warrant Arrests,WARRANT ARREST,D4,903,0,2015-06-22 00:12:00,2015,6,Monday,0,Part Three,WASHINGTON ST,42.333839,-71.080290,"(42.33383935, -71.08029038)",0,1

In [230]:
pd_df['OFFENSE_CODE_GROUP'].value_counts().head(15)

Motor Vehicle Accident Response    38134
Larceny                            26670
Medical Assistance                 24226
Investigate Person                 19176
Other                              18612
Drug Violation                     17037
Simple Assault                     16263
Vandalism                          15810
Verbal Disputes                    13478
Towed                              11632
Investigate Property               11443
Larceny From Motor Vehicle         11120
Property Lost                      10077
Warrant Arrests                     8579
Aggravated Assault                  8033
Name: OFFENSE_CODE_GROUP, dtype: int64

In [231]:
list_offense_code_group = ('Motor Vehicle Accident Response',
                           'Larceny',
                           'Medical Assistance',
                           'Investigate Person',
                           'Other',
                           'Drug Violation',
                           'Simple Assault',
                           'Vandalism',
                           'Verbal Disputes',
                           'Towed',
                           'Investigate Property',
                           'Larceny From Motor Vehicle')

In [232]:
pd_df_model = pd.DataFrame()

In [233]:
i = 0

while i < len(list_offense_code_group):

    pd_df_model = pd_df_model.append(pd_df.loc[pd_df['OFFENSE_CODE_GROUP'] == list_offense_code_group[i]])
    
    i+=1
pd_df_model.tail()

,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location,Day,Night
327424,614,Larceny From Motor Vehicle,LARCENY THEFT FROM MV - NON-ACCESSORY,C6,196,0,2018-03-12 11:00:00,2018,3,Monday,11,Part One,OLD COLONY AVE,42.335811,-71.055754,"(42.33581104, -71.05575441)",1,0
327445,614,Larceny From Motor Vehicle,LARCENY THEFT FROM MV - NON-ACCESSORY,D14,796,0,2015-08-12 10:30:00,2015,8,Wednesday,10,Part One,COMMONWEALTH AVE,42.350342,-71.129429,"(42.35034226, -71.12942937)",1,0
327463,624,Larceny From Motor Vehicle,LARCENY NON-ACCESSORY FROM VEH. $50 TO $199,A1,104,0,2015-12-22 20:25:00,2015,12,Tuesday,20,Part One,WASHINGTON ST,42.356801,-71.058930,"(42.35680075, -71.05893025)",0,1
327647,614,Larceny From Motor Vehicle,LARCENY NON-ACCESSORY FROM VEH. $200 & OVER,C11,,0,2016-08-01 00:00:00,2016,8,Monday,0,Part One,ADAMS ST,NaN,NaN,"(0.00000000, 0.00000000)",0,1
327648,634,Larceny From Motor Vehicle,LARCENY NON-ACCESSORY FROM VEH. UNDER $50,C11,,0,2016-08-01 00:00:00,2016,8,Monday,0,Part One,ADAMS ST,NaN,NaN,"(0.00000000, 0.00000000)",0,1

In [234]:
list_column = ['DISTRICT','REPORTING_AREA','MONTH','DAY_OF_WEEK',
               'HOUR','Lat','Long', 'OFFENSE_CODE_GROUP','Day','Night']
pd_df_model = pd_df_model[list_column]

In [235]:
pd_df_model['DISTRICT'] = pd_df_model['DISTRICT'].map({
    'B3':1, 
    'E18':2, 
    'B2':3, 
    'E5':4, 
    'C6':5, 
    'D14':6, 
    'E13':7, 
    'C11':8, 
    'D4':9, 
    'A7':10, 
    'A1':11, 
    'A15':12
})

pd_df_model['DISTRICT'].unique()

array([nan,  6.,  5.,  8.,  3.,  2., 11., 10.,  1.,  7.,  9.,  4., 12.])

In [236]:
pd_df_model['REPORTING_AREA'] = pd.to_numeric(pd_df_model['REPORTING_AREA'], errors='coerce')

In [237]:
pd_df_model['DAY_OF_WEEK'] = pd_df_model['DAY_OF_WEEK'].map({
    'Tuesday':2, 
    'Saturday':6, 
    'Monday':1, 
    'Sunday':7, 
    'Thursday':4, 
    'Wednesday':3,
    'Friday':5
})

pd_df_model['DAY_OF_WEEK'].unique()

array([3, 2, 1, 7, 4, 5, 6], dtype=int64)

In [238]:
pd_df_model.fillna(0, inplace = True)

pd_df_model['OFFENSE_CODE_GROUP'] = pd_df_model['OFFENSE_CODE_GROUP'].map({
    'Motor Vehicle Accident Response':1, 
    'Larceny':2, 
    'Medical Assistance':3,
    'Investigate Person':4, 
    'Other':5, 
    'Drug Violation':6, 
    'Simple Assault':7,
    'Vandalism':8, 
    'Verbal Disputes':9, 
    'Towed':10, 
    'Investigate Property':11,
    'Larceny From Motor Vehicle':12
})

In [239]:
pd_df_model.tail()

,DISTRICT,REPORTING_AREA,MONTH,DAY_OF_WEEK,HOUR,Lat,Long,OFFENSE_CODE_GROUP,Day,Night
327424,5.0,196.0,3,1,11,42.335811,-71.055754,Larceny From Motor Vehicle,1,0
327445,6.0,796.0,8,3,10,42.350342,-71.129429,Larceny From Motor Vehicle,1,0
327463,11.0,104.0,12,2,20,42.356801,-71.058930,Larceny From Motor Vehicle,0,1
327647,8.0,0.0,8,1,0,0.000000,0.000000,Larceny From Motor Vehicle,0,1
327648,8.0,0.0,8,1,0,0.000000,0.000000,Larceny From Motor Vehicle,0,1

In [263]:
pd_df_model.to_csv('crime_new.csv')

In [240]:
hf = h2o.H2OFrame(pd_df_model)

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [241]:
hf.tail()

DISTRICT,REPORTING_AREA,MONTH,DAY_OF_WEEK,HOUR,Lat,Long,OFFENSE_CODE_GROUP,Day,Night
5,915,6,1,21,42.3321,-71.0512,Larceny From Motor Vehicle,1,0
12,55,6,2,13,42.3764,-71.0656,Larceny From Motor Vehicle,1,0
9,627,6,2,9,42.3434,-71.0985,Larceny From Motor Vehicle,1,0
0,0,6,1,11,0,0,Larceny From Motor Vehicle,1,0
9,155,6,1,0,42.3414,-71.079,Larceny From Motor Vehicle,0,1
5,196,3,1,11,42.3358,-71.0558,Larceny From Motor Vehicle,1,0
6,796,8,3,10,42.3503,-71.1294,Larceny From Motor Vehicle,1,0
11,104,12,2,20,42.3568,-71.0589,Larceny From Motor Vehicle,0,1
8,0,8,1,0,0,0,Larceny From Motor Vehicle,0,1
8,0,8,1,0,0,0,Larceny From Motor Vehicle,0,1

In [242]:
hf=hf[['DISTRICT','REPORTING_AREA','MONTH','DAY_OF_WEEK','HOUR','Lat','Long','Day','Night','OFFENSE_CODE_GROUP']]
hf.tail()

DISTRICT,REPORTING_AREA,MONTH,DAY_OF_WEEK,HOUR,Lat,Long,Day,Night,OFFENSE_CODE_GROUP
5,915,6,1,21,42.3321,-71.0512,1,0,Larceny From Motor Vehicle
12,55,6,2,13,42.3764,-71.0656,1,0,Larceny From Motor Vehicle
9,627,6,2,9,42.3434,-71.0985,1,0,Larceny From Motor Vehicle
0,0,6,1,11,0,0,1,0,Larceny From Motor Vehicle
9,155,6,1,0,42.3414,-71.079,0,1,Larceny From Motor Vehicle
5,196,3,1,11,42.3358,-71.0558,1,0,Larceny From Motor Vehicle
6,796,8,3,10,42.3503,-71.1294,1,0,Larceny From Motor Vehicle
11,104,12,2,20,42.3568,-71.0589,0,1,Larceny From Motor Vehicle
8,0,8,1,0,0,0,0,1,Larceny From Motor Vehicle
8,0,8,1,0,0,0,0,1,Larceny From Motor Vehicle

In [243]:
hf_x = hf[['DISTRICT','REPORTING_AREA','MONTH','DAY_OF_WEEK','HOUR','Lat','Long','Day','Night']]

In [244]:
hf_y = hf[['OFFENSE_CODE_GROUP']]
hf_y.unique()

C1
Drug Violation
Investigate Person
Investigate Property
Larceny
Larceny From Motor Vehicle
Medical Assistance
Motor Vehicle Accident Response
Other
Simple Assault
Towed

In [245]:
covtype_X = hf.col_names[:-1]     #last column is Cover_Type, our desired response variable 
covtype_y = hf.col_names[-1]

In [246]:
covtype_X

['DISTRICT',
 'REPORTING_AREA',
 'MONTH',
 'DAY_OF_WEEK',
 'HOUR',
 'Lat',
 'Long',
 'Day',
 'Night']

In [247]:
train, valid, test = hf.split_frame([0.7, 0.15], seed=1234)

In [248]:
from h2o.estimators.glm import H2OGeneralizedLinearEstimator

In [249]:
glm_model = H2OGeneralizedLinearEstimator(family='multinomial', model_id='glm_model', lambda_search=True)

In [250]:
#Prepare predictors and response columns
predictors = hf.col_names[:-1]     #last column is response, our desired response variable 
response = hf.col_names[-1]

In [251]:
glm_model.train(predictors, response, training_frame=train, validation_frame=valid)

glm Model Build progress: |███████████████████████████████████████████████| 100%

In [252]:
glm_model

Model Details
=============
H2OGeneralizedLinearEstimator :  Generalized Linear Modeling
Model Key:  glm_model


ModelMetricsMultinomialGLM: glm
** Reported on train data. **

MSE: 0.7992301787018168
RMSE: 0.8939967442344613

ModelMetricsMultinomialGLM: glm
** Reported on validation data. **

MSE: 0.7991695863382985
RMSE: 0.8939628551222352
Scoring History:

     timestamp            duration          iteration    lambda    predictors    deviance_train      deviance_test
---  -------------------  ----------------  -----------  --------  ------------  ------------------  -----------------
     2018-10-14 17:26:49  0.000 sec         1            .13E0     12            4.824272340460561   4.825997568535765
     2018-10-14 17:26:51  2.383 sec         2            .12E0     14            4.819970450663356   4.821860534973064
     2018-10-14 17:26:54  4.549 sec         3            .11E0     14            4.816564809193751   4.818589242879638
     2018-10-14 17:26:56  6.493 sec         4            .1E0      14            4.813745453869372   4.815886547043103
     2018-10-14 17:26:57  8.323 sec         5            .91E-1    14            4.811408315195897   4.813650875342784
---  ---                  ---               ---          ---       ---           ---                 ---
     2018-10-14 17:28:36  1 min 47.239 sec  43           .26E-2    99            4.713622250189576   4.713153023041671
     2018-10-14 17:28:39  1 min 50.074 sec  44           .24E-2    100           4.7132777387813345  4.712781589936045
     2018-10-14 17:28:42  1 min 53.186 sec  45           .22E-2    104           4.71298444819864    4.712460349627934
     2018-10-14 17:28:45  1 min 56.317 sec  46           .2E-2     104           4.712735405989264   4.71218089158216
     2018-10-14 17:28:49  1 min 59.498 sec  47           .18E-2    106           4.712524475108193   4.711942002475568

See the whole table with table.as_data_frame()

In [253]:
glm_model.hit_ratio_table(valid=True)

Top-10 Hit Ratios:

k    hit_ratio
---  -----------
1    0.191398
2    0.316234
3    0.427421
4    0.524422
5    0.612445
6    0.693015
7    0.758231
8    0.822878
9    0.876871
10   0.924279

In [254]:
glm_multi_v2 = H2OGeneralizedLinearEstimator(
                    model_id='glm_v2',           
                    family='multinomial',
                    solver='L_BFGS',
                    Lambda=0.0001                 #default value 0.001
)
glm_multi_v2.train(predictors, response, training_frame=train, validation_frame=valid)

glm Model Build progress: |███████████████████████████████████████████████| 100%

In [255]:
glm_multi_v2

Model Details
=============
H2OGeneralizedLinearEstimator :  Generalized Linear Modeling
Model Key:  glm_v2


ModelMetricsMultinomialGLM: glm
** Reported on train data. **

MSE: 0.7981007134206689
RMSE: 0.8933648266081831

ModelMetricsMultinomialGLM: glm
** Reported on validation data. **

MSE: 0.7979505451195682
RMSE: 0.8932807761950149
Scoring History:

    timestamp            duration    iterations    negative_log_likelihood    objective
--  -------------------  ----------  ------------  -------------------------  -----------
    2018-10-14 17:32:41  0.000 sec   0             377835                     2.41214
    2018-10-14 17:32:42  0.234 sec   1             372617                     2.37884
    2018-10-14 17:32:42  0.386 sec   2             370188                     2.36335
    2018-10-14 17:32:42  0.558 sec   3             369547                     2.35927
    2018-10-14 17:32:42  0.806 sec   4             369316                     2.3578
    2018-10-14 17:32:42  0.969 sec   5             369118                     2.35655
    2018-10-14 17:32:43  1.069 sec   6             369050                     2.35611
    2018-10-14 17:32:43  1.148 sec   7             369016                     2.3559

In [256]:
glm_multi_v2.hit_ratio_table(valid=True)

Top-10 Hit Ratios:

k    hit_ratio
---  -----------
1    0.189992
2    0.316982
3    0.431043
4    0.526338
5    0.614121
6    0.693074
7    0.759039
8    0.8221
9    0.87723
10   0.92395